<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

</head>
<body>

	<form class="form-horizontal" method="post">
    <fieldset>
      <legend>Process Demo</legend>

      <div class="controls">
        <label class="radio">
          <input type="radio" name="mongoOption" id="Press1" value="1">On</label>

        <label class="radio">
          <input type="radio" name="mongoOption" id="Press2" value="0" checked>Off</label>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">exec process</button>
      </div>
      <p>windows: promp caculator</p>
      <!--<p>linux: promp terminal</p>-->
    </fieldset>
  </form>

</body>
</html>
