<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/d3.v3.js"></script>
    <style type="text/css">

	</style>
  </head>
  <body>
	
	<%if(dataset.length<1){%>
		<div>無資料</div>
	<%}%>
	
	<div id="chart_div"></div>
	
	<%dataset.forEach( function(item){%>
		<div><%=item.name%>,<%=item.count%></div>
	<%})%>
	
	
	<script>
	
	</script>
	<img src="/examples/myPlot.png">
  </body>
</html>